---
const stats = [
  {
    name: 'Years',
    value: '1',
  },
  {
    name: 'Programming languages',
    value: '7',
  },
  {
    name: 'Projects',
    value: '12',
  },
  {
    name: 'Specialty field',
    value: 'Flutter,Python' ,
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              The motivation for founding Cor.inc is rooted in my childhood experiences of loneliness and difficulty in communication. During my elementary school years, I struggled with conversations, unable to effectively express myself, leading to isolation. From these experiences, I learned behavioral psychology in an effort to understand others' emotions and thoughts. However, constantly gauging others' reactions and suppressing my true feelings led to exhaustion and growing frustration.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Music, especially playing the trumpet, was important to me as a means of self-expression without relying on words. Yet, even in the world of music, I felt constrained by tradition and rules, losing my sense of freedom. This disappointment became the catalyst for my passion for programming, particularly Python and Flutter. Programming became a tool for deeply understanding individual perspectives and freely expressing my thoughts.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Cor.inc aims to create a society where people with different values can understand and empathize with each other. Our mission is to use AI technology to overcome communication barriers and realize a world of peace and co-creation. My personal experiences form the foundation of this company, reflecting in our values and corporate culture.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
