---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Privacy policy · Cor.inc"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Privacy Policy</h1>
      <p class="text-base">Last update: November 17 , 2023</p>
    </div>
    <div>
      <p class="mb-4">
        At Cor.inc, we prioritize your privacy and are dedicated to its protection. This Privacy Policy details our approach to collecting, using, and safeguarding your personal information when you interact with our services, including our web analysis tools, Flutter apps, and machine learning solutions. We encourage you to review this policy to understand our practices.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Information We Collect</h2>
      <p class="mb-6">
        During your engagement with our services, we may collect various types of personal information, including:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Information you provide: This may include your name, email address, contact details, and other relevant data when you create an account or use specific features of our services.
        </li>
        <li>
          Usage data: We gather data about your usage of our services, which may encompass your IP address, browser type, device information, visited pages, and interactions with our services.
        </li>
        <li>
          Cookies and similar technologies: To enhance user experience and understand usage patterns, we utilize cookies and similar technologies in our services.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. How We Use Your Information</h2>
      <p class="mb-4">We may use your personal information for the following purposes:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Service delivery and improvement: We use your data to offer personalized experiences and improve the functionality of our services.
        </li>
        <li>
          Communication: Your email address and contact details may be used for sending updates, newsletters, and promotional materials. You have the option to opt out of these communications.
        </li>
        <li>
          Analytics: To better understand user behavior and enhance our services, we analyze aggregated and anonymized data.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contact Us</h2>
      <p class="mb-4">
        If you have any questions or concerns about our Privacy Policy, please contact us at
        [contact email/phone number/address].
      </p>
    </div>
  </div>
</Layout>
